<footer id="foot">
	<div class="container">
				<div class="row">
					<div class="bottom-nav col-12 col-md-4 col-lg-4">
						<h2>BILISUMMAA</h2>
						<p>An Oromo clothing store. Inspired by traditional 
							clothing from Oromia, Ethiopia and the rest of African.
						</p>
						<a href="https://instagram.com/_bilisummaa" class="socialAnchor bottom-social"><i id="" class="fa fa-1x fa-instagram footerSocial" aria-hidden="true"></i></a>
							<a href="https://www.facebook.com/bilisummaaUS" class="socialAnchor bottom-social" ><i id="" class="fa fa-1x fa-facebook footerSocial" aria-hidden="true"></i></a>
							<a href="https://twitter.com/_bilisummaa" class="socialAnchor bottom-social"><i id="" class="fa fa-1x fa-twitter footerSocial" aria-hidden="true"></i></a>
					</div>
					<div class="bottom-nav col-12 col-md-2 col-lg-2">
					<h5>Navigation</h5>
					<a href="/shop"><p class="subhead-links">Shop</p></a>
						<a href="/about"><p class="subhead-links">About</p></a>
						<a href="/contact/"><p class="subhead-links">Contact</p></a>
					</div>
					<div class="subscribe col-12 col-md-4 col-lg-4">
						<h5 class="grey-subheads">SUBSRCIBE</h5>
						 <div id="emailbox">
							<form action="https://formspree.io/bilisummaawear@gmail.com"
				      		method="POST" class="subscribe-form" style="width: 100%;">
				      		<div class="container">
				      		<div class="row">
						    	<input class="subscribe-input col-12 col-lg-8" type="email" placeholder="Enter your email address" name="_replyto">
						    	<input class="subscribe-button col-12 col-lg-4" type="submit" value="Subscribe" placeholder="Subscribe">
						    	</div>
						    	</div>
							</form>
						</div>
					</div>

					<div class="getConnected col-12">
						<p class="grey-subheads">	&copy;2017 Bilisummaa</p>
						
					</div>

				</div>
			</div>			
</footer>

