
				<div class="main-display container-fluid">
					<div class="row">
						<div class="container  col-lg-8 col-12">
							<div class="row">

								<div class="col-lg transitionIn" id="grey">
									<div class="collections-wrapper">
										<p class="orangeColor">2019 COLLECTION</p>
										<h4>Hot This Summer</h4>
										<a href="/hot-oromowear/"><p style="text-decoration: underline;">SHOP NOW</p></a>
									</div>
								</div>
							</div>
						</div>
						<div class="container col-12 col-lg-4">
							<div class="row">
								
								<div class="col-sm transitionIn" id="orange">
										<div style="display: inline;">	
							
										<img id="trackCarousel" src="images/mainCarousel/tracksuit1.png" alt=""/></div>
										
									<div style="display: inline-block; padding: 50px 0 0 10px; position: absolute;">
											<p style="color:#c23616; font-size: 0.75rem">COMPLETE SETS</p>
										<h4>Tracksuits</h4>
										<a href="/african-balee-tracksuits/"><p style="text-decoration: underline; padding-top:10px;font-size: 0.75rem;">SHOP NOW</p></a>
									</div>
								</div>
								</div>
							<div class="row">
								<div class="col-sm transitionIn" id="teil">
										<div style="display: inline;">	
							
												<img id="trackCarousel2" src="images/mainCarousel/championhoodie1.png" alt=""/></div>
												
											<div style="display: inline-block; padding: 50px 0 0 10px; position: absolute;">
												<p style="color:#c23616; font-size: 0.75rem">EXCLUSIVE</p>
												<h4>Collab Fits</h4>
												<a href="/bilisummaa-fashion-collabs/"><p style="text-decoration: underline; padding-top:10px;font-size: 0.75rem;">SHOP NOW</p></a>
											</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</header>

				<!-- <div class="content">
					
					<h1 id="home-h1">B I L I S U M M A A</h1>

					<div class="underline" id="greenline"></div>
					
					<a href="https://instagram.com/Bilisummaa_fits"><i class="fa fa-1x fa-instagram socialHome" aria-hidden="true"></i></a>
					
					<a href="https://www.facebook.com/Bilisummaa.fits" ><i class="fa fa-1x fa-facebook socialHome" aria-hidden="true"></i></a>
					
					<a href="https://twitter.com/Bilisummaa_fits"><i  class="fa fa-1x fa-twitter socialHome" aria-hidden="true"></i></a>

					<a id="entershop" href="/shop/" style="text-decoration:none;"><h3>- ENTER SHOP -</h3></a>

				</div> -->



			<!-- </div> -->
