<div id="menu-tabs">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><span id="close-x">X</span> CLOSE MENU</a>
		
			<a href="/">B I L I S U M M A A </a>
			<div class="underline" id="greyline"></div>
			<a href="/">HOME </a>
			<a href="/shop/">SHOP </a>
			<a href="/about/">ABOUT </a>
			<a href="/blog/">BlOG </a>

			<!-- <a href="#" class="snipcart-checkout">Click here to checkout</a> -->

			<!-- <a href="https://instagram.com/Bilisummaa_fits" class="socialAnchor"><i id="socialNav" class="fa fa-1x fa-instagram" aria-hidden="true"></i></a>
			<a href="https://www.facebook.com/Bilisummaa.fits" class="socialAnchor" ><i id="socialNav" class="fa fa-1x fa-facebook" aria-hidden="true"></i></a>
			<a href="https://twitter.com/Bilisummaa_fits" class="socialAnchor"><i id="socialNav" class="fa fa-1x fa-twitter" aria-hidden="true"></i></a> -->

	</div>
	<div class="overlay purple">
		
		<!-- 
		<div class="hoverMenu" onclick="openNav()">
		<i id="bars" class="fa fa-2x fa-bars" aria-hidden="true"></i> <p>MENU</p>
		</div>	
		</div> -->
		<div id="mobileMenuWrapper" class="row textCenter navBar">
			<div class="col-3">
				<div class="hoverMenu" onclick="openNav()">
					<i class="fa fa-2x fa-bars" aria-hidden="true"></i> 
					<p>MENU</p>
				</div>
			</div>
			<div class="col-6">
				<a class="aSettings" href="/"><h2>BILISUMMAA</h2></a>
				<p style="color:lightgrey; font-size: .5rem;">Oromo and African inspired online clothing store.</p>
			</div>
			<span class="default-summary col-3">
					<div class="snipcart-summary">
						  <a href="#" class="snipcart-checkout">
							<i class="fa fa-shopping-bag" aria-hidden="true"></i>
						  <span class="snipcart-cart-header__count snipcart__font--secondary snipcart__font--bold">0</span>
						  </a>
					</div>
				</span>
				<a class="aSettings" href="#mobileMenuWrapper"><div class="returnArrow"><i class="fa fa-arrow-up fa-2x"></i></div></a>	
		</div>
		
		<header>
		<div class="desktopMenu" id="desktopMenu">
		<div style="overflow: hidden;" class="fluid-container">
			<div class="row top-nav textCenter">
				<!-- <i class="fa fa-search fa-2x col-2"></i> -->
				<div class="col-2">
				<a href="/"><img style="height:3rem;" src="/images/blsmaLogo.png" alt="The Bilisummaa logo, arms crossed with crown for Oromo royalty"></a>
				</div>
				<div class="col-8">
				<a class="aSettings"  href="/"><h2>BILISUMMAA</h2></a>
				<p style="color:lightgray">Oromo and African inspired online clothing store.</p>
			</div>
				<!-- <i class="fas fa-shopping-cart fa-2x col-2"></i> -->
				 <span class="default-summary col-2">
			<div class="snipcart-summary">
				  <a href="#" class="snipcart-checkout">
					<i class="fa fa-shopping-bag" aria-hidden="true"></i>
				  <span class="snipcart-total-items snipcart-items-count">0</span>
				  </a>
			</div>
		</span>
			</div>
		</div>
		<nav>
			<ul class="main-ul">
				<div id="li-container" class="container">
					<div class="row">
						<a  href="/"  class="col-sm aSettings"><li>Home</li></a>
						<a href="/shop/"  class="col-sm aSettings"><li>Shop</li></a>
						<a href="/about/"  class="col-sm aSettings"><li>About</li></a>
						<a href="/blog/"  class="col-sm aSettings"><li>Blog</li></a>
						<a href="/contact/"  class="col-sm aSettings"><li>Contact</li></a>
					</div>
				</div>
			</ul>
		</nav>
		<a class="aSettings" href="#desktopMenu"><div class="returnArrow" style="top:auto!important"><i class="fa fa-arrow-up fa-2x"></i></div></a>
	</div>
	
	
